@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Client/ShortUrlClient.js"></script>
}
<div ng-app="UrlShortenerApp" class="jumbotron text-center">
    <div ng-controller="UrlShortenerController">
        <h2>Shortened URL List</h2>
        <div class="form-inline" ng-show="!hasNoData">
            <input type="text" class="form-control" placeholder="Search URL" ng-model="searchUrl"/>
        </div>
        <div ng-show="hasNoData">
            No URLs have been shortened yet
        </div>
        <br/>
        <div class="table-responsive" ng-show="!hasNoData">
            <table class="table table-condensed table-bordered table-hover">
                <tr>
                    <th>Url</th>
                    <th>Shortened URL</th>
                    <th>Created</th>
                    <th>IP</th>
                    <th>Clicks</th>
                </tr>
                <tr ng-repeat="url in urls | filter : searchUrl">
                    <td>{{url.LongUrl}}</td>
                    <td><a href="{{url.ShortUrl}}" target="_blank">{{url.ShortUrl}}</a></td>
                    <td>{{url.CreatedDate | jsDate | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{url.CreatedIp}}</td>
                    <td class ="num">{{url.NumOfClicks}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
